[2015-02-10 13:50] buruzaemon opened #1 "-r / --rcfile / rcfile option: Path including space char does not work on Windows"
## Problem Description ##

The [MeCab 0.996 option flags](http://mecab.googlecode.com/svn/trunk/mecab/doc/mecab.html) ```-r``` / ```--rcfile``` / ```rcfile``` for specifying a resource file will not work via natto-py when the path is a Windows path including whitespace chars.

## Steps to reproduce the problem ##

1. Install MeCab 0.996.exe on Windows XP
2. Install Python 2.7.8
3. Install natto-py

[2015-02-10 13:54] buruzaemon commented on #1
This is apparently an issue with the mecab internals itself.

Per [this question on Stack Overflow](http://stackoverflow.com/questions/10299807/mecab-path-parameters-doesnot-accept-whitespace), the mecab API does not handle whitespace chars in the file paths.

However, a workaround is to simply use a resource file in some other Windows folder that does not have any whitespace chars in it.

Closing

[2015-02-10 13:54] #1 closed

[2015-02-10 13:57] buruzaemon opened #2 "-d / --dicdir / dicdir option: Path including space char does not work on Windows"
## Problem Description ##

The [MeCab 0.996 option flags](http://mecab.googlecode.com/svn/trunk/mecab/doc/mecab.html) ```-d``` / ```--dicdir``` / ```dicdir``` for specifying a system dictionary folder will not work via natto-py when its path is a Windows path including whitespace chars.

## Steps to reproduce the problem ##

1. Install MeCab 0.996.exe on Windows XP
2. Install Python 2.7.8
3. Insta

[2015-02-10 14:01] buruzaemon commented on #2
This is apparently an issue with the mecab internals itself.

Per [this question on Stack Overflow](http://stackoverflow.com/questions/10299807/mecab-path-parameters-doesnot-accept-whitespace), the mecab API does not handle whitespace chars in the file paths.

However, a workaround is to simply use system dictionary folder name on Windows that does not have any whitespace chars in it.

Closing thi

[2015-02-10 14:01] #2 closed

[2015-02-10 20:28] buruzaemon opened #3 "-u / --userdic / userdic option: Path including space char does not work on Windows"
## Problem Description ##

The [MeCab 0.996 option flags](http://mecab.googlecode.com/svn/trunk/mecab/doc/mecab.html) ```-u``` / ```--userdic``` / ```user``` for specifying a user-defined dictionary will not work via natto-py when its path is a Windows path including whitespace chars.

## Steps to reproduce the problem ##

1. Install MeCab 0.996.exe on Windows XP
2. Install Python 2.7.8
3. Install

[2015-02-10 20:31] buruzaemon commented on #3
This is apparently an issue with the mecab internals itself.

Per [this question on Stack Overflow](http://stackoverflow.com/questions/10299807/mecab-path-parameters-doesnot-accept-whitespace), the mecab API does not handle whitespace chars in the file paths.

However, a workaround is to simply use a user dictionary folder name on Windows that does not have any whitespace chars in it.

Closing thi

[2015-02-10 20:31] #3 closed

[2015-02-10 20:32] buruzaemon opened #4 "MeCab: add in path/name of mecab lib to string representation"
MIght be good to know what the natto.MeCab FFI-handle is actually pointed at.

Originally opened 2014-11-10.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:33] buruzaemon commented on #4
Fixed in 0.0.5 release. MeCab now has the lib attribute, which is the full path to the MeCab library.

[2015-02-10 20:35] buruzaemon commented on #4
Resolved 2014-11-20.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:35] #4 closed

[2015-02-10 20:36] buruzaemon opened #5 "All input / output should be in Unicode"
From [Porting your code to NLTK 3.0](https://github.com/nltk/nltk/wiki/Porting-your-code-to-NLTK-3.0): ...

*NLTK3 requires all text input to be unicode and always return text as unicode*

Enhance the behavior of natto-py under Python 2.7 to make sure that this behavior is consistent. Python 3 behavior should be consistent with the above approach.

Originally opened 2014-11-12.
This issue was port

[2015-02-10 20:38] buruzaemon commented on #5
Decoding Python 2.7 strings should use the "charset" (character encoding) used internally by MeCab.

This means that the user needs to keep in mind the "charset" being used by MeCab.
Might need to add a Wiki page on confirming the system dictionary charset from the command-line.

[2015-02-10 20:39] buruzaemon commented on #5
Done in 0.0.6 release.

Resolved 2014-11-21.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:39] #5 closed

[2015-02-10 20:40] buruzaemon opened #6 "MeCab: destructor/clean-up for tagger reference"
Right now, clean-up is done via the [```with``` context manager](http://legacy.python.org/dev/peps/pep-0343/).

Still, it would be nice to have some other way to ensure ```mecab_destroy``` is invoked to delete the tagger reference if ```with``` is not used.

Originally opened 2014-11-12.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:41] buruzaemon commented on #6
Resolved, closing.

Resolved 2014-11-21.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:41] #6 closed

[2015-02-10 20:43] buruzaemon opened #7 "MeCabEnv: On Windows, use registry to guess at lib path"
On Windows platform, use winreg to obtain best-guess at path to libmecab.dll.

Originally opened 2014-11-19.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:43] buruzaemon commented on #7
Python 2.7, use _winreg. On Python 3, use winreg.

[2015-02-10 20:43] buruzaemon commented on #7
Enhancements made to MeCabEnv.

[2015-02-10 20:44] buruzaemon commented on #7
Ready for inclusion in 0.0.6 release.

Resolved 2014-11-20.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:44] #7 closed

[2015-02-10 20:45] buruzaemon opened #8 "Reverse Issue 5: Python 2.7 input/output should really be strings and not Unicode"
Reverse the behavior change per Issue 5.

For Python 2.7, input/output should really be strings and not Unicode.
That should be the most expected behavior for most users.

But keep the behavior as it is for Python 3, as in Python 3 all strings are Unicode.

Originally opened 2014-11-21.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:46] buruzaemon commented on #8
Done, in 0.0.7.

Resolved 2014-11-25.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:46] #8 closed

[2015-02-10 20:47] buruzaemon opened #9 "Python 3 input/output transformation as decorator"
The transformation of a Python 3 string (Unicode) to bytes (encoded in what mecab is expecting) for input, and vice versa for output, is sort of a hack.

How about using a decorator instead?

Originally opened 2014-11-05.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:47] buruzaemon commented on #9
It may be better simply to refactor the Python 23 support method that handles the conversion of bytes to/from strings.

[2015-02-10 20:48] buruzaemon commented on #9
Fixed in https://bitbucket.org/buruzaemon/natto-py/commits/2ef7659d9c8a3fd6bc4c1e2ceb25a1c4d69dc9be#chg-natto/mecab.py

Resolved 2015-01-02.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:48] #9 closed

[2015-02-10 20:50] buruzaemon opened #10 "Node-parsing: return generator rather than array of nodes"
Initial implementation of node parsing in natto-py is naive in the sense that it materializes all the values of the node parsing, and then returns all of them in an list.

This is fine for parsing short strings, but this could become expensive in terms of space as the input text gets larger and larger.

Better to use a generator or some iterable instead of materializing all nodes and stuffing them

[2015-02-10 20:50] buruzaemon commented on #10
Now using a Python Generator to yields the MeCab nodes, instead of materializing everything into an array.

[2015-02-10 20:50] buruzaemon commented on #10
Resolved with 0.0.8 release.

Resolved 2014-12-09.
This issue was ported from Bitbucket and is archived for historical reasons.

[2015-02-10 20:50] #10 closed

[2015-02-21 00:40] buruzaemon opened #11 "Debugging should use a kwarg"
Make debugging optional via a keyword argument.

[2015-02-26 02:52] buruzaemon commented on #11
Added in 0.2.1 Release.

[2015-02-26 02:52] #11 closed

[2015-02-26 02:58] buruzaemon opened #12 "Add boundary constraint parsing"
Add boundary constraint parsing to natto-py.

Please refer to:
https://mecab.googlecode.com/svn/trunk/mecab/doc/partial.html
http://www.mwsoft.jp/programming/munou/mecab_command.html#partial
http://qiita.com/yukinoi/items/4e7afb5e72b3a46da0f2

[2015-02-26 03:02] buruzaemon commented on #12
The -p / --partial flag for mecab is really only intended for use on the command line.

Let's hijack that and use the -p / --partial flag to specify the use of boundary constraint parsing in natto-py.

[2015-02-26 03:03] buruzaemon commented on #12
$ mecab -p
東京メトロ	名詞
で帰る
EOS
東京メトロ	 名詞
で	                 助詞,格助詞,一般,*,*,*,で,デ,デ,,
帰る	                 動詞,自立,*,*,五段・ラ行,基本形,帰る,カエル,カエル,かえる/帰る,
EOS

[2015-02-26 04:10] buruzaemon commented on #12
However, natto-py does support *-p / --partial* already...

How about using *kwargs* in the *parse* method?

[2015-02-28 01:52] buruzaemon opened #13 "Decompose the options-parsing into a separate module or class"
natto/mecab.py has become too cluttered.

Decompose the options-parsing into a separate module or class. Don't forget the documentation.

[2015-03-12 05:00] buruzaemon commented on #12
The pattern argument for the morpheme constraints should either be a str, or a compiled regexp.

Str patts will be simple, but the compiled regexp will allow for re flags to be passed.

[2015-03-19 23:02] buruzaemon commented on #13
Done and delivered in 0.3.0/1 release.

[2015-03-19 23:02] #13 closed

[2015-03-19 23:03] buruzaemon commented on #12
Done and delivered in 0.3.0/1 release.

[2015-03-19 23:03] #12 closed

[2015-03-20 08:42] buruzaemon opened #21 "Clean up lattice API"
The following lattice APIs are not being used internally by natto-py.

Remove these:
- mecab_lattice_set_sentence2
- mecab_lattice_add_request_type
- mecab_lattice_get_request_type

[2015-03-20 08:43] buruzaemon opened #22 "Implement mecab_lattice_set_z"
Implement the mecab_lattice_set_z function.

[2015-03-20 08:43] buruzaemon opened #23 "Implement mecab_lattice_set_theta"
Implement the mecab_lattice_set_theta function.

[2015-03-30 07:53] buruzaemon commented on #22
OK, there is no apparent `z` option for MeCab.

Will close this as `wontfix`.

[2015-03-30 07:53] #22 closed

[2015-03-30 07:57] buruzaemon opened #25 "Need to deal with leading/trailing whitespace in tokens for boundary constraint parsing."
Experimenting with the `-p` / `--partial` mode, it is clear that MeCab will silently eat any leading and trailing whitespace (ASCII `0x30`) characters in the tokens used in boundary constraint parsing.

Failure to do so will lead to errors with MeCab only spitting out `tokenizer.cpp(368) [new_node->feature]` before dumping core.

[2015-03-30 07:59] buruzaemon commented on #25
Try feeding this string to `mecab -p`:

    心の中で3回唱、[single whitespace char 0x30]
    ヒーロー見参\tその他
　！

[2015-03-30 08:02] buruzaemon commented on #25
Alternately, try using the Python code on this [Qitta posting](http://qiita.com/yukinoi/items/4e7afb5e72b3a46da0f2), but change the last line in the `main` function to:

    text = 'ポエム読むなら[single whitespace char 0x30]Qiita最高'
    print(tagger.boundary_constraint_parse(text, 'Qiita', any_boundary=True))

[2015-03-30 15:03] buruzaemon opened #26 "Update all links to MeCab for migration from googlecode to github"
Update URL, etc., for MeCab migration from googlecode to github.

This includes:

- README.md
- API documentation
- .travis.yml

[2015-03-31 05:13] buruzaemon commented on #21
On second thought, it might be handy to keep these 2:

- mecab_lattice_add_request_type
- mecab_lattice_get_request_type

[2015-03-31 06:58] buruzaemon commented on #25
Done, available in 0.4.0 release.

[2015-03-31 06:58] #25 closed

[2015-03-31 07:01] buruzaemon commented on #21
Also adding in mecab_lattice_get_boundary_constraint

[2015-03-31 07:27] buruzaemon commented on #21
Done and ready for 0.4.0 release.

[2015-03-31 07:27] #21 closed

[2015-03-31 07:27] buruzaemon commented on #26
README.rst and docs/index.rst, done.

[2015-03-31 07:28] buruzaemon commented on #26
.travis.yml is also done, by the way.

[2015-03-31 07:28] buruzaemon commented on #26
Latest API docs generated on readthedocs looks good.

[2015-03-31 12:08] buruzaemon commented on #23
Done and available in 0.4.0 release.

[2015-03-31 12:08] #23 closed

[2015-03-31 12:09] buruzaemon commented on #26
Done and ready for 0.4.0 release.

[2015-03-31 12:09] #26 closed

[2015-04-14 14:32] buruzaemon opened #34 "Add support for feature constraint parsing"

[2015-04-14 14:32] buruzaemon opened #35 "Use new Model- and Lattice-based C APIs internally"

[2015-04-14 14:33] buruzaemon opened #36 "Make refs to MeCab and Tagger consistent in docs"

[2015-04-14 14:34] buruzaemon opened #37 "Partial parsing and handling of tokens (strip leading and trailing whitespace)"

[2015-04-14 14:34] buruzaemon opened #38 "Downloads and license badges for README.md & API docs"

[2015-04-14 15:07] #38 closed

[2015-04-17 08:21] buruzaemon commented on #35
Fixed and ready for 0.5.0 release.

[2015-04-17 08:21] #35 closed

[2015-04-17 08:21] buruzaemon commented on #36
Fixed and ready for 0.5.0 release.

[2015-04-17 08:21] #36 closed

[2015-04-17 08:22] buruzaemon commented on #37
Fixed and ready for 0.5.0 release.

[2015-04-17 08:22] #37 closed

[2015-04-17 23:32] buruzaemon opened #48 "Object destructor for MeCab dumps core in 0.5.0"
Logic for object destructor for MeCab in 0.5.0 is dumping core.

[2015-04-18 03:30] buruzaemon commented on #48
Done, and released with 0.5.1.

[2015-04-18 03:30] #48 closed

[2015-04-21 13:54] buruzaemon commented on #34
The order of keys in a dictionary are by ascending order, not by order of insertion like Ruby.

Since we need to enforce priority of matches, we will use a tuple as outer data structure, since

1. it does have the notion of order (by index)
2. it does not allow for alteration after creation (no inserts, deletes or replacement of elements)

[2015-05-01 17:10] buruzaemon commented on #34
Implementation completed, released in 0.6.0.

[2015-05-01 17:10] #34 closed

[2015-09-13 23:24] buruzaemon opened #67 "Confirm behavior with Python 3.5"
As [Python 3.5 was just recently released](https://docs.python.org/3/whatsnew/3.5.html), we need to make sure that natto-py functions properly with 3.5.

[2015-09-13 23:33] buruzaemon opened #68 "Update README to include any package dependencies for development & testing"
* cffi as development dependency
* Sphinx for document generation
* twine for secure uploads during release
* PyYAML for tests

[2015-09-16 00:18] buruzaemon opened #69 "Read in version string from file rather than hard-coding in setup.py"
Rather than a hard-coded version string in setup.py, how about creating a version.py file and reading that value from there?

[2015-11-06 12:56] buruzaemon commented on #67
Make sure to add tests, and extra classifier information to setup.py as well.

[2015-11-06 13:33] buruzaemon commented on #67
Done!

[2015-11-06 13:33] #67 closed

[2015-11-06 13:33] buruzaemon commented on #67
Will include this in 0.7.0 release.

[2015-11-06 14:45] buruzaemon commented on #69
Done and ready for 0.7.0 release.

[2015-11-06 14:45] #69 closed

[2015-11-06 15:27] #68 closed

[2015-11-07 03:56] buruzaemon opened #72 "Revamp IPython notebooks for use with Jupyter"
Revisit and update the notebooks for use with Jupyter and Python 3.
These examples will assume use of mecab-ipadic with UTF-8 charset.

- とりあえず使ってみよう！
- わかち書き
- N-Best 解の出力
- 振り仮名変換

[2015-11-07 04:01] buruzaemon opened #73 "Better examples for 制約付き解析"
Come up with better examples for 制約付き解析.

Perhaps something using a more particular regular expression for boundary constraints parsing. Likewise for feature constraint parsing.

And how about putting this in a new Jupyter notebook as well?

[2015-11-07 05:29] buruzaemon opened #78 "Dynamically set version and version info for docs as well"

[2015-11-07 05:30] buruzaemon commented on #78
The version and version info strings are hard-coded in `docs/index.rst`

[2015-11-07 05:30] #72 closed

[2015-11-07 06:00] #78 closed

[2016-01-22 07:47] himkt opened #83 "natto.api.MeCabError: MECAB_NBEST request type is not set"
I got the error when I use break statement in for-loop.

[code]

I'm sorry but I don't have any clue about this error...

[2016-01-22 07:49] himkt commented on #83
maybe related to this issue

https://github.com/buruzaemon/natto-py/blob/master/natto/mecab.py#L165

https://github.com/buruzaemon/natto-py/blob/master/natto/mecab.py#L167

[2016-01-22 09:16] buruzaemon commented on #83
Thanks, I will take a closer look at this during this weekend.

Brooke@iPhone

2016/01/22 16:49$B!"(Bhimkt <notifications@github.com> $B$N%a%C%;!<%8(B:

[2016-01-24 01:52] buruzaemon commented on #83
Very interesting, this is immediately reproduce-able with @himkt's instructions...!

[2016-01-24 05:18] himkt commented on #83
Oops! It's very strange...

My developent environment is bellow:

OS      : OSX 10.11.2
Python: Anaconda3-2.4.0
natto   : 01.17

If I noticed anything, I would report here.

[2016-01-24 05:54] buruzaemon commented on #83
I was also able to see this error on my Windows 7 laptop, and I am pretty sure I saw this at work on Linux environments as well. Thank you for raising this issue, @himkt.

[2016-01-28 08:35] buruzaemon commented on #83
I think natto needs to catch and handle/ignore the [GeneratorExit exception](https://docs.python.org/3/library/exceptions.html) that comes when the [generator's close method](https://docs.python.org/2/whatsnew/2.5.html#pep-342) is invoked.

c.f. http://stackoverflow.com/questions/18637048/avoid-exception-ignored-in-python-enhanced-generator

[2016-01-29 01:54] buruzaemon commented on #83
Looking at Mecab's src/tagger.cpp, line 784, you can see that the error "MECAB_NBEST request type is not set" comes when LatticeImpl::next() is invoked, meaning that this is happening **_after_** the Python generator's close method is called.

[2016-01-29 03:09] buruzaemon opened #84 "Start leveraging the logging library"

[2016-01-30 04:49] buruzaemon commented on #83
Solution is to explicitly trap the GeneratorExit error. Fixed, will make this available in the next release, tomorrow.

[2016-01-30 04:49] #83 closed

[2016-01-30 07:07] buruzaemon commented on #84
Done and ready for upcoming release.

[2016-01-30 07:07] #84 closed

[2016-01-30 08:19] himkt commented on #83
I see. Thx :+1:

[2016-01-31 13:59] buruzaemon commented on #73
Updated README.rst

[2016-01-31 13:59] #73 closed

[2016-03-03 01:43] eromoe opened #89 "ERROR:natto.mecab:Text should be of type str"
I think natto should accept u'xxxx' input. It's very common in py 2.x.

[2016-03-08 01:41] eromoe opened #90 "How to tokenize sentence with several user dict?"
I want use the default dict with some my additional dict.
google find out a cmd as below:
[code]

But how to make it by natto?

[2016-03-08 02:44] eromoe commented on #90
Oh, I figure it out
[code]

[2016-03-08 02:44] #90 closed

[2016-03-08 21:31] buruzaemon commented on #90
Yes, you are correct. This is the same as the mecab command-line options.

Brooke@iPhone

2016/03/08 11:44$B!"(Beromoe <notifications@github.com> $B$N%a%C%;!<%8(B:

[2016-04-22 08:30] shuntaroy opened #91 ""from natto import MeCab" doesn't work"
From ver 0.8, `from natto import MeCab` doesn't work properly.
However, it does `from natto.mecab import MeCab`.

Are there any change of the specification of the namespace?

[2016-04-22 08:51] buruzaemon commented on #91
Thanks for reporting this.

Could tell me your platform and Python version?

Brooke@iPhone

2016/04/22 17:30$B!"(BShuntaro Yada <notifications@github.com> $B$N%a%C%;!<%8(B:

[2016-04-22 09:11] shuntaroy commented on #91
Thank you for your prompt reply.

I use Python 3.5.1 of Anaconda3-2.5.0 under pyenv, and installed natto-py via pip.
When I try to import it by `from natto import MeCab`, I got `ImportError: cannot import name 'MeCab'`.

[2016-04-22 09:17] buruzaemon commented on #91
Thanks for letting me know.
I will have a look at this tonight.

Brooke@iPhone

2016/04/22 18:11$B!"(BShuntaro Yada <notifications@github.com> $B$N%a%C%;!<%8(B:

[2016-04-25 14:25] buruzaemon commented on #91
Some notes on the investigation so far:

1. In the case of no environment manager, this problem is not reproducible (Pythons 2.7, 3.3, 3.4 and 3.5).
2. In the case of Anaconda's conda environment manage, this problem is still not reproducible.

I suspect that this might have something to do with how pyenv works. Will have a look at pyenv next...

[2016-04-25 14:31] buruzaemon commented on #89
I apologize for the long wait, but I was thoroughly considering the advantages and disadvantages of support Unicode input for Python 2.7 in natto-py.

Given that natto-py is meant to be a bridge to the MeCab API and MeCab expects both input and output be a string of bytes with an accompanying encoding, I have come to the conclusion that it is better to separate the responsibility of bridging Pytho

[2016-04-25 14:32] buruzaemon commented on #89
Closing out this issue with WON'T FIX.

[2016-04-25 14:32] #89 closed

[2016-04-25 22:55] shuntaroy commented on #91
Thanks for letting me to know the progress.
Now I've come up with another possibility.

Just before I encounter this problem, I wrongly installed another "natto" library via pip instead of your "natto-py".
However, I installed "natto-py" after I uninstalled the "natto" library.
So I didn't believe this may cause problem.
But I also try to check the problem reproducibility.

[2016-04-30 12:35] shuntaroy commented on #91
I found reproducibility of this issue under the situation where [`natto` package](https://pypi.python.org/pypi/natto/0.1.7) installed wrongly, even if `natto` uninstalled successfully.
Especially, it seems to be reproduced when `natto` package is imported at least once.
In other words, it seems not to be reproduced if `natto` have never been imported.
I don't know the detail of pip, but it may sti

[2016-05-09 11:03] buruzaemon commented on #91
Apologies for not replying sooner. And thank you, @shuntaroy.

I think I need to reconsider how this library should be imported. It is unfortunate that the namespace `natto` has already been taken, and thus is causing confusion.

I will continue to treat this issue as a bug, and come up with a new package naming.

[2016-05-10 13:29] shuntaroy commented on #91
That's a shame if you change this fancy package name.
I really like your idea of  the combination of natto and mecabu.

Besides my personal preference, I believe there are some reasons that you don't have to change the package name:

* there are some users who come to Python world from Ruby with accustomed to Ruby version of `natto` gem
* this issue comes from my not following your install guide c

[2016-05-10 13:54] buruzaemon commented on #91
Thanks for sharing your opinions and feedback with me, @shuntaroy.

I was aware of the other `natto` package, which came before `natto-py`, and back then I thought the naming would not be a problem.

However, I think I might need to honor the original `natto` package's namespace, and choose another one like `natto_py` or something. I am afraid that the name I chose is actually the cause of some co

[2016-09-28 11:42] buruzaemon opened #92 "Where's the natto-py documentation?"
Fix this.

[2017-09-18 08:02] kohchuanhock commented on #83
Is this also fixed for Ubuntu? I seems to be having this exception in 0.8.0

`Traceback (most recent call last):
  File "aiteacher.py", line 48, in <module>
    main(sys.argv)
  File "aiteacher.py", line 44, in main
    print(is_correct(question, user_sentence, correct_sentences, incorrect_sentences))
  File "aiteacher.py", line 10, in is_correct
    return v2.is_match(user_sentence, correct_sente

[2017-09-18 08:16] kohchuanhock commented on #83
The following code will cause the "natto.api.MeCabError: MECAB_NBEST request type is not set" error

# -*- coding: utf-8 -*-
from natto import MeCab

nm = MeCab('-F%m,%f[0],%f[1],%f[8]')
for n in nm.parse('私はアシャです', as_nodes=True):
    print(n.feature)

[2017-09-18 08:25] himkt commented on #83
I have confirmed @kohchuanhock-san's error can be reproduced.
This error has occurred when `__%f[8]__` is used in the -F option.

To: @buruzaemon

[2017-09-18 09:04] kohchuanhock opened #95 ""natto.api.MeCabError: MECAB_NBEST request type is not set" error under some circumstances"
The following code will cause the "natto.api.MeCabError: MECAB_NBEST request type is not set" error

    # -*- coding: utf-8 -*-
    from natto import MeCab

    nm = MeCab('-F%m,%f[0],%f[1],%f[8]')
    for n in nm.parse('私はアシャです', as_nodes=True):
        print(n.feature)

[2017-09-18 09:05] kohchuanhock commented on #83
@buruzaemon -san,

Thank you very much for your quick response. I have created new issue.
https://github.com/buruzaemon/natto-py/issues/95

Thanks,

[2017-09-18 13:13] buruzaemon commented on #83
Thank you, @himkt. I will have a deeper look into @kohchuanhock's reported
error, giving consideration to your steps for reproducing.

On Mon, Sep 18, 2017 at 5:25 PM, himkt <notifications@github.com> wrote:

[2017-09-18 13:16] buruzaemon commented on #95
Thanks for reporting this, @kohchuanhock. @himkt gave me a clue on reproducing this, so I will have a closer look into this error.

[2017-09-18 13:52] buruzaemon commented on #95
@kohchuanhock, could you please tell me the following:

1. OS platform
2. Python version and bit-ness
3. output of `mecab -P`

[2017-09-18 21:19] kohchuanhock commented on #95
@buruzaemon, thank you for your time!

OS platform: MacOS Sierra 10.12.6
Python version and bit-ness: Python 2.7.10 (or 3.6.1 both gives error) and 64-bit
output of mecab -P
bos-feature: BOS/EOS,*,*,*,*,*,*,*,*
bos-format:
config-charset: EUC-JP
cost-factor: 700
dicdir: /usr/local/lib/mecab/dic/ipadic
dump-config: 1
eon-format:
eos-format: EOS\n
eos-format-chasen: EOS\n
eos-format-chasen2: EOS\n
e

[2017-09-19 14:07] buruzaemon commented on #95
@kohchuanhock, I tried your input using `mecab` directly and without any output formatting. This is what it returns:

    $ mecab
    私はアシャです
    私	名詞,代名詞,一般,*,*,*,私,ワタシ,ワタシ
    は	助詞,係助詞,*,*,*,*,は,ハ,ワ
    アシャ	名詞,一般,*,*,*,*,*
    です	助動詞,*,*,*,特殊・デス,基本形,です,デス,デス
    EOS

Notice how there are only **7 tokens** for the noun **アシャ**.  This is naturally so because **アシャ** is not listed in your ipadic di

[2017-09-19 14:07] #95 closed

[2017-09-19 14:16] buruzaemon opened #96 "Index out of range error message not being captured by natto-py"
When using output formatting in node parsing to capture the 8th token (pronunciation) for ipadic, the index out of range error message that is visible in `mecab` is not captured by natto-py.

To reproduce:

    from natto import MeCab

    nm = MeCab('-F%m,%f[0],%f[1],%f[8]')
    for n in nm.parse('私はアシャです', as_nodes=True):
        print(n.feature)
    ...
    私,名詞,代名詞,ワタシ
    は,助詞,係助詞,ワ
    MECAB

[2017-09-19 21:10] kohchuanhock commented on #95
@buruzaemon I see. Thanks!

[2017-09-21 04:01] evilplanet opened #97 "How to switch between two dictionaries?"
I'm using Mecab to process both Japanese and Korean texts, I have two dictionary files. How do I specify a particular dictionary when instantiating Mecab in a function? Thank you!

[2017-09-21 15:08] buruzaemon commented on #97
If you mean to keep use 2 dictionary files separately, then you could create 2 separate instances of `MeCab`.

Hello, @evilplanet, and thanks for using natto-py...

You can specify a system dictionary with the mecab option [`--dicdir`](https://github.com/buruzaemon/natto-py/wiki/dicdir) or a custom user dictionary with [`--userdic`](https://github.com/buruzaemon/natto-py/wiki/userdic). Pass in the

[2017-09-23 05:59] evilplanet commented on #97
I have modified `/usr/local/etc/mecabrc` as below:
[code]

[2017-09-23 06:37] evilplanet commented on #97
Below is my `/usr/local/etc/mecabrc` file:
[code]
When I tried to uncomment userdic, I can no longer instantiate MeCab.

[2017-09-23 12:26] buruzaemon commented on #97
`natto-py` honors nearly the exact same options as when you use `mecab` from the command-line.

So the following two approaches are equivalent:

    # mecab from command-line
    mecab --dicdir=/usr/local/lib/mecab/dic/mecab-ko-dic

    # with natto-py
    nm = MeCab('--dicdir=/usr/local/lib/mecab/dic/mecab-ko-dic')

It is a good idea to try out your choice of options first at the `mecab` command-

[2017-09-23 23:48] evilplanet commented on #97
It certainly helps! I wasn't sure how to set dict path and the other option together. Then I tried to chain them in a single string like this `MeCab('--dicdir=/usr/local/lib/mecab/dic/mecab-ko-dic -Owakati')` And it seems to be working. Thank you a lot!

[2017-09-23 23:48] #97 closed

[2017-09-24 09:25] buruzaemon commented on #97
@evilplanet, I am glad to hear that you were able to correctly use both `-O` and `--dicdir` together.

`natto-py` is meant to use the options in the same manner as they are passed to the `mecab` command-line, in order to be as familiar as possible, and so that is why you have to specify all of the options at instantiation time.

Beside using a single, long options string, you can also use key-valu

[2017-09-26 01:04] evilplanet commented on #97
@buruzaemon  Great!! Thanks a lot. That's very informative!

[2017-11-28 14:10] buruzaemon opened #99 "Node-formatting ignored when using Unidic unless -O is set to empty string"
As reported by @massongit in pull request #98 , node-formatting seems to be ignored by mecab when using Unidic. Please refer to [taku910/mecab#41](https://github.com/taku910/mecab/issues/41).

A workaround is to force natto-py to accept an empty string value for output `-O`.

Steps to reproduce:

1. Install Unidic 2.1.2
2. Execute code snippet A below to observe that natto-py will not be able to r

[2017-11-29 13:18] buruzaemon commented on #99
The `output-format-type` option is used in a dictionary's `dicrc` to specify a default output format type for node-formatting. For example consider the following sample `dicrc` for Unidic:

[code]

Here, the default formatting when no other is specified is then `*-format-unidic2`

MeCab gives preference to `output-format-type` over `node-format`, etc., **unless** `output-format-type` is explicitly

[2017-12-01 02:09] massongit commented on #99
MeCab's PR https://github.com/taku910/mecab/pull/38 seems to be related to this problem.

[2017-12-05 15:04] buruzaemon opened #101 "Enable -r/--rcfile MeCab option"
The `-r/--rcfile` option is not available .

[2018-01-04 13:54] buruzaemon commented on #92
The documentation set as configured on readthedocs is the master version.

[2018-01-04 13:55] buruzaemon commented on #92
Configured the github incoming webhook integration.

[2018-01-04 13:56] buruzaemon commented on #92
Confirmed that the absolute latest documentation in indeed available at http://natto-py.readthedocs.io/en/master/. Removed the pypi downloads badge. Updated supported python versions. Checked all hypertext links. We should be good-to-go for upcoming 0.9.0 release.

[2018-01-04 13:56] #92 closed

[2018-01-07 12:08] buruzaemon commented on #101
Ready for 0.9.0 release.

[2018-01-07 12:08] #101 closed

[2018-01-28 12:40] buruzaemon commented on #96
Errors in node parsing related to output formatting now correctly capture the error message from mecab.

[2018-01-28 12:40] #96 closed

[2018-01-28 13:30] buruzaemon commented on #99
I will close this issue. However, I have updated the [`output-format-type`](https://github.com/buruzaemon/natto-py/wiki/output-format-type) MeCab option description in the project wiki to describe how to override an existing, default output format by specifying an empty string.

[2018-01-28 13:30] #99 closed

[2018-01-28 13:31] #91 closed

[2018-01-30 06:26] buruzaemon opened #104 "Provide for output of beginning-of-sentence nodes during node parse"
Allow BOS nodes to be output during node parsing.

[2018-01-30 06:28] buruzaemon opened #105 "Make version string available in natto.MeCab"

[2018-02-03 08:42] buruzaemon commented on #105
Closing this issue, the `__version__` attribute is already available in `natto`

[2018-02-03 08:42] #105 closed

[2018-04-07 03:55] markdevel opened #106 "ERROR: UnicodeDecodeError: 'utf-8' codec can't decode byte *** in position 0: unexpected end of data"
I encountered an error when running the following code. I think that it happens when two or more keywords contained in a parsing text and they are adjacent to each other with the delimiter between them.

[code]

output

[code]

environment

[code]

[2018-04-07 07:52] buruzaemon commented on #106
Thank you for raising this issue, @markdevel. I will have a closer look at this.

[2019-01-05 10:28] buruzaemon opened #108 "PyYAML security issue, CVE-2017-18342"
In PyYAML before 4.1, the yaml.load() API could execute arbitrary code. In other words, yaml.safe_load is not used.

Although this only involves the YAML-handling during testing, we should explicitly install a safe version of PyYAML during travis test runs.

Please see https://nvd.nist.gov/vuln/detail/CVE-2017-18342

[2019-01-05 13:26] buruzaemon opened #109 "Add support for Python 3.7 for tests in Travis"
Add support for Python 3.7 for tests run in Travis.

[2019-01-05 13:30] buruzaemon commented on #108
All tests are green for Python 2.7, 3.3, 3.4, 3.5 and 3.6.

Closing this issue.

[2019-01-05 13:30] #108 closed

[2019-01-05 13:56] buruzaemon commented on #109
Since Python 3.3 does not appear to be available at this time for Xenial in Travis, we will drop Python 3.3 support for tests.

[2019-01-05 13:56] #109 closed

[2019-02-08 12:46] buruzaemon opened #110 "requests security issue, CVE-2018-18074"
The Requests package before 2.20.0 for Python sends an HTTP Authorization header to an http URI upon receiving a same-hostname https-to-http redirect, which makes it easier for remote attackers to discover credentials by sniffing the network.

Upgrade requests to version 2.20.0 or later.

[2019-02-08 12:47] buruzaemon commented on #110
The dependency in question is actually in `docs/src/requirements.txt`, and doesn't really affect `natto-py` per se. Nevertheless, we will update the `requirements.txt` file accordingly.

[2019-02-08 13:40] buruzaemon commented on #110
Fixed.

[2019-02-08 13:40] #110 closed

[2019-12-25 14:09] buruzaemon opened #112 "Erroneous handling of whitespace trimming"
When stripping whitespace from input, we need to be sure to limit trimming only to half-width whitespace shars. Full-width whitespace is recognized and handled by MeCab, and so should be left intact.

Please see https://github.com/buruzaemon/natto-py/pull/111

[2019-12-26 14:44] buruzaemon commented on #112
Based on recent patch from @himkt, corrected behavior when stripping newline chars from MeCab output.
Releasing fix in 0.9.1.

[2019-12-26 14:44] #112 closed

[2019-12-26 14:53] buruzaemon opened #113 "Security vulnerability for Jinja (requirement for documentation generation)"
[CVE-2019-10906](https://github.com/advisories/GHSA-462w-v97r-4m45)
high severity
Vulnerable versions: < 2.10.1
Patched version: 2.10.1
In Pallets Jinja before 2.10.1, str.format_map allows a sandbox escape.

[CVE-2016-10745](https://github.com/advisories/GHSA-hj2j-77xm-mc5v)
high severity
Vulnerable versions: < 2.8.1
Patched version: 2.8.1
In Pallets Jinja before 2.8.1, str.format allows a sandbo

[2019-12-28 05:33] himkt opened #114 "Unexpected whitespace inserted in Wakati mode"
I suspect that this bug is introduced in #111, sorry...

[code]

[code]

[2019-12-28 06:54] buruzaemon commented on #114
Ah, I apologize! Looking into this.

[2019-12-31 13:02] buruzaemon commented on #113
Resolved in 0.9.1 release.

[2019-12-31 13:02] #113 closed

[2019-12-31 13:03] buruzaemon commented on #114
This will be soon resolved with the 0.9.2 release. Happy New Year!

[2019-12-31 13:03] #114 closed

[2021-02-13 15:58] mirfan899 opened #116 "natto.api.MeCabError: Could not format node with surface XXX: given index is out of range"
hi, I'm trying to use the spacy library and it requires natto-py support to run tokernzie or other pipelines. When I try tokenize the sentece in Korean it throws following error.

[code]

I have tried multiple spacy versions 2.3.5, 3.0.1
Python 3.6.9
Ubuntu 18.04

[2021-02-13 16:00] mirfan899 commented on #116
I have installed mecab for Ubuntu 18.04 using

[code]

[2021-02-14 14:00] buruzaemon commented on #116
Hello, @mirfan899, and thank you for bringing this to my attention.

I notice that there are whitespace chars in the Korean text string in your example. When you input this string into MeCab at the command-line, do you get the output you expect?

[2021-02-14 17:08] mirfan899 commented on #116
Okay, here is the output. What I did is I have installed the https://bitbucket.org/eunjeon/mecab-ko-dic/downloads/mecab-ko-dic-1.6.1-20140814.tar.gz and looks like its working fine.
The latest mecab-ko-dic not working with natto due to the installation issue mention here.
https://bitbucket.org/eunjeon/mecab-ko-dic/issues/25/mecab-ko-dic-configure

![mecab_result](https://user-images.githubusercont

[2021-02-15 03:22] buruzaemon commented on #116
Thank you for the additional information.

Now, can you tell me where all the half-width (0x20) chars went?

[2021-02-15 05:59] mirfan899 commented on #116
I have to check that. Not sure how this dic works.

[2021-02-15 07:36] buruzaemon commented on #116
Hello again, @mirfan899

OK, I don't think you need to concern yourself about my question re: whitespace chars, since I took a look at the source code for [space/lang/ko/__init__.py](https://github.com/explosion/spaCy/blob/master/spacy/lang/ko/__init__.py) just now.

Could you please do me a favor and use this shortened version of your original string, and let me know what happens (please attach a

[2021-02-15 08:29] mirfan899 commented on #116
Okay, so the issue was actually the mecab-ko-dic version. After installing the 1.6.1 version everthings works. But when I install the mecab from Ubuntu packages it breaks it.
[code]

[2021-02-15 08:52] buruzaemon commented on #116
Yes, I suspected that there was some sort of issue in the default output of the underlying dictionary.

In [`__init__.py` at line 35](https://github.com/explosion/spaCy/blob/1e3a326e5362eee73b0b7dacb89994a2507390b7/spacy/lang/ko/__init__.py#L35) there is the following specification on the output format:

        self.mecab_tokenizer = MeCab("-F%f[0],%f[7]")

This apparently is to instruct the meca

[2021-02-15 08:52] #116 closed

[2021-09-21 09:18] yacchi opened #119 "Failed to install natto-py when setuptools 58.0 or later is used"
When I try to install natto-py, I got an error message and it fails.

I found that support for "2to3" has been removed in setuptools v58.0.0, and this seems to be the cause of the failure.
https://setuptools.readthedocs.io/en/latest/history.html#v58-0-0

According to the setuptools changelog, there is a way to *pinning* the version of setuptools.
However, if there are libraries that depend on newe

[2021-09-22 03:37] buruzaemon commented on #119
Hello @yacchi, and thank you for bringing this to my attention.
I will take a closer look at this later this evening.

[2021-09-23 13:39] buruzaemon commented on #119
Strange, but this issue does not appear to be reproducible on Windows.

However, it is easily apparent on Mac, and obviously on Linux as well.

I think the best thing may be to finally drop support for Python2, so that we will not need the use_2to3 bit...

[2021-09-23 16:39] yacchi commented on #119
How about not using "use_2to3" when setuptools is 58 or later?
(setuptools does not support Python2 for versions after 45).

However, since Python2 is already EoL and this project is very stable, I prefer to drop support for Python2 because it's easier to understand.

[2021-09-23 21:54] buruzaemon commented on #119
Yes, I thought about that...

... but as you say, dropping Python2 support would make things much simpler. I think if anyone is still using Python2 and natto-py, they can just continue using v0.9.2.

Please give me some time to remove the Python2 support bits, and then make a new release.

Thank you for your patience!

[2021-10-02 09:27] buruzaemon commented on #119
@yacchi. I apologize for making you wait, but I have finished making changes to remove support for Python 2. These changes will resolve the issue you reported with setuptools and the "use_2to3" feature. I will be releasing 1.0.0 later this evening.

[2021-10-02 15:04] buruzaemon commented on #119
OK, the natto-py 1.0.0 release is now available. @yacchi, could you please try 1.0.0 and see if we have resolved the problem with setuptools and use_2to3?

[2021-10-04 01:09] yacchi commented on #119
@buruzaemon
Thanks for the update!
I tried both the steps above and poetry and was able to install it correctly.

[2021-10-04 01:09] #119 closed

[2022-08-29 23:25] buruzaemon opened #122 "Improve logging set-up"
Improve the logging setup. In particular, remove the logging configuration so that we can leave that responsibility to calling code.

Please see pull request [Remove logging configuration #121](https://github.com/buruzaemon/natto-py/pull/121).

[2022-09-07 04:19] buruzaemon commented on #122
This is done, and will be in the v1.0.1 release.

[2022-09-07 04:19] #122 closed